@import url('https://fonts.googleapis.com/css?family=Cabin:700');

body{
	font-family: 'Cabin', sans-serif;
	color: #FFFFFF;
	background-color: #f2f3f5;
	margin: 0%;
	font-size: 5vw;
}

form {
	background-color: #3c4bee;
	position: relative;
	padding: 10% 10% 10% 15%;
	-webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
}

input[type=text] {
	font-size: 5vw;
	margin-top: 10%;
	box-sizing: border-box;
	border: none;
	background-color: transparent;
	opacity: 0.5;
	color: white;
	width: 50%;
}

input[type=text]:focus, input[type=text]:hover {
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {-webkit-mask-position: 150%;}
  to {-webkit-mask-position: -50%;}
}

input[type=button] {
	font-size: 5vw;
	color: white;
	background-color: transparent;
	border: none;
	transition: 0.2s ease-in-out;
	float: right;
	margin-right: 5%;
	margin-top: 10%;
}

input[type=button]:hover {
	font-size: 5.1vw;
	color: #f1c56d;
}

::placeholder {
	color: white;
}

.information {
	display: grid;
	grid-gap: 10%;
	margin: 15%;
}

#suitable, #temperature, #wind {
	background-color: white;
	position: relative;
	color: #555555;
	font-size: 4vw;
	-webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
}

#logo {
	width: 15%;
	margin-bottom: 10%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#suitable p, #temperature p, #wind p {
	margin-left: 5%;
}

#degrees, #kmperh {
	color: #3c4bee;
	font-size: 7vw;
	display: grid;
	justify-content: center;
	margin-bottom: 10%;
}


@media only screen and (min-width: 600px) {
	body {font-size: 3vw;}
	form {padding: 10% 10% 10% 20%;}
	input[type=text] {font-size: 3vw; margin-top: 5%;}
	input[type=button] {font-size: 3vw; margin-right: 15%; margin-top: 5%;}
	input[type=button]:hover {font-size: 3.1vw;}
	.information {grid-gap: 15%; margin: 10% 20% 10% 20%;}
	#suitable, #temperature, #wind {font-size: 2.5vw;}
	#logo {width:10%;}
	#degrees, #kmperh {font-size: 5vw;}
}


@media only screen and (min-width: 960px) {
	body {font-size: 2vw;}
	form {padding: 2% 30% 2% 30%;}
	input[type=text] {font-size: 2vw;}
	input[type=button] {font-size: 2vw; margin-right: 0%;}
	input[type=button]:hover {font-size: 2.1vw;}
	.information {grid-gap: 5%; margin: 3% 30% 0% 30%;}
	#suitable, #temperature, #wind {font-size: 1.5vw;}
	#logo {width: 8%;}
	#degrees, #kmperh {font-size: 2vw;}
}


@media only screen and (min-width: 1281px) {
	body {font-size: 1vw;}
	form {padding: 2% 40% 2% 40%;}
	input[type=text] {font-size: 1vw;}
	input[type=button] {font-size: 1vw;}
	input[type=button]:hover {font-size: 1.1vw;}
	.information {grid-gap: 5%; margin: 10% 40% 0% 40%;}
	#suitable, #temperature, #wind {font-size: 1vw;}
	#degrees, #kmperh {font-size: 1.5vw;}
}








